<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Second Flask website</title>
</head>
<body>
    <h3>Second website homepage</h3>
    Welcome to my second website.
    </br>

    <!-- GET (default is GET) -->
    Test GET method.
    <form action="/testget" method="GET">  <!-- call /testget function -->
        Name <input type="text" name="n"/>
        <button>Send form</button>
    </form>

    <!-- POST -->
    Test POST method.
    <form action="/testpost" method="POST">  <!-- call /testpost function -->
        Number <input type="text" name="max"/>
        <button>Result</button>
    </form>    

</body>
</html>